In [14]:
print("Hello world from jupyter!")

Hello world from jupyter!

In [15]:
import time 
time.sleep(4)

In [16]:
def say_hello(name):
    return 'Hello, {}'.format(name)

In [17]:
say_hello('Riley')

'Hello, Riley'

num1 = 10
num2 = 7

In [18]:
x = num1-num2
print(x)

3

# This is heading 1
## This is heading 2
**This is bold text** __This is bold text 2__
*This is italic* _This is italic_
You can also create lists:
* item 1 in bullets
* item 2 in bullets
you can aslo create number lists
1. item 1 in numeric list
2. item 2 in numeric list

[this is a link to tlu webpage](http://www.tlu.edu)

In [19]:
import numpy as np 
def square(x):
    return x*x

In [20]:
x = np.random.randint(1,10)
y= square(x)
print('%d squared is: %d' % (x,y))

6 squared is: 36